altgraph==0.17.4
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
freezegun==1.5.1
importlib_metadata==8.2.0
importlib_resources==6.4.3
kiwisolver==1.4.5
macholib==1.16.3
matplotlib==3.9.2
numpy==2.0.1
packaging==24.1
pillow==10.4.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0
tabulate==0.9.0
zipp==3.20.0
